<!-- Validation failure messages -->
<% if @sign_up.errors.any? %>
  <% @sign_up.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Sign Up #<%= @sign_up.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_sign_up/<%= @sign_up.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for tourist_id -->
      <div class="form-group">
        <label for="tourist_id" class="control-label">
          Tourist
        </label>

        <%= select_tag(:tourist_id, options_from_collection_for_select(User.all, :id, :email, @sign_up.tourist_id), :class => "form-control") %>
      </div>

      <!-- Label and input for event_id -->
      <div class="form-group">
        <label for="event_id" class="control-label">
          Event
        </label>

        <%= select_tag(:event_id, options_from_collection_for_select(LocalEvent.all, :id, :event_name, @sign_up.event_id), :class => "form-control") %>
      </div>

      <button class="btn btn-warning">
        Update Sign Up
      </button>
      or
      <a href="/sign_ups/<%= @sign_up.id %>">Cancel</a>
    </form>
  </div>
</div>
